<footer>
    <div class="logo-container">
        <img class="logo" (click)="pagesBehaviorService.scrollToTop()" src="assets/img/personal/logo.png" alt="Carmen Birkle">
        <p class="imprint" translate>Imprint</p>
    </div>
<div>
    &#169; Carmen Birkle 2023
</div>
<div class="get-in-contact">
        <a class="icon" href="https://github.com/CarmenBirkle">
            <img src="assets/img/icons/github.svg" alt="GitHub" title="GitHub" target="_blank" rel="noopener noreferrer">
        </a>
        <a class="icon" href="mailto: birkle@carmenbirkle.de">
            <img src="assets/img/icons/mail.svg" alt="E-Mail" title="Send E-Mail" srcset="">
        </a>
        <a class="icon" href="https://www.linkedin.com/in/carmenbirkle/">
            <img src="assets/img/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn" target="_blank" rel="noopener noreferrer">
        </a>
    </div>
<p class="imprint-mobile" translate>Imprint</p>

</footer>
