// .burger-line{
//     width:30px;
//     height: 2px;
//     background: white;
//     display:block;
// }

// .burger-container{
//     cursor: pointer;
//     position: absolute;
//     top: 40px;
//     right: 10px;
//     height: 40px;
//     width: 40px;
// }

.burger {
  width: 30px;
  height: 3px;
  background-color: black;
  position: absolute;
  top: 40px; // TODO noch ändern
  right: 10px;
    cursor: pointer;
    z-index:55;
    border-radius: 2px;
    padding:10px;
    box-sizing: border-box;
    //  box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}



.burger::before, .burger::after {
  content: '';
  background-color: black;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 2px;
}

.burger, .burger::before, .burger::after {
border-radius: 5px;
    transition: all 0.3s ease;  /* Hier ist die neue Eigenschaft */
}


.burger::before {
  top: -10px;
}

.burger::after {
  bottom: -10px;
}

.burger.open {
  background-color: transparent;
}

.burger.open::before {
  transform: translateY(10px) rotate(45deg);
}

.burger.open::after {
  transform: translateY(-10px) rotate(-45deg);
}



li{
    list-style-type: none;
    margin-bottom: 33px;
}
 .lang-icon{
    width: clamp(40px, 4vw, 50px);
    height: clamp(40px, 4vw, 50px);
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
    }

.slide-out{
    position:fixed;
    top: 0;
    // right: -100%;
    background-color: cornflowerblue;
    width:100%;
    height: 100%;
    overflow:hidden;
    z-index:50;
    transition: right 0.6s;
     @media(min-width: 600px) {
        display: none;
    }

    //TODO Main page scroll entfernen wenn menü angezeigt wird
}
.burger-btn{
    position:fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 60;
    height: 100px;
    width: 50%;
    background-color: brown;

}