
<!-- // hatte funktioniert -->
    <!-- <div class="burger" 
    (click)="toggleMenu()"
        [ngClass]="{'open': isMenuOpen}">
    </div> -->

<div class="burger-container" (click)="toggleMenu()">
  <div class="burger" [ngClass]="{'open': isMenuOpen}"></div>
</div>



<section class="slide-out" 
[ngClass]="{ 'open': isMenuOpen, 'closed': !isMenuOpen }"
>
   <li><a href="#about" translate>About me</a></li>
   <li><a href="#skills" translate>Skills</a></li>
   <li><a href="#portfolio" translate>Portfolio</a></li>
   <li><a href="#contact" translate>Contact</a></li>
   <img class="lang-icon" 
       (click)="pagesBehaviorService.toggleLanguage()" 
       [src]="pagesBehaviorService.flagPicture" 
       alt="{{ pagesBehaviorService.language }}">
</section>

<!-- TODO über den header legen -->
<!-- TODO schauen ob section ggf. auswirkungen hat -->
