@use 'src/styles' as g;

// hamburger-menue-classes

.burger-container {
  width: 50px;  
  height: 50px; 
  position: fixed;
  top: 15px; 
  right: 25px; 
  cursor: pointer;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(min-width: 600px) {
        display: none;
    }
}

.burger {
  width: 30px;
  height: 3px;
  background-color: white;
  position: relative;
  border-radius: 2px;
}

.burger::before, .burger::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger::before {
  top: -10px;
}

.burger::after {
  bottom: -10px;
}

.burger.open {
  background-color: transparent;
}

.burger.open::before {
  transform: translateY(10px) rotate(45deg);
}

.burger.open::after {
  transform: translateY(-10px) rotate(-45deg);
}

// mobile-menue-links

li{
    list-style-type: none;
    margin-bottom: 33px;
}
 .lang-icon{
    width: clamp(40px, 4vw, 50px);
    height: clamp(40px, 4vw, 50px);
    border-radius: 10px;
    cursor: pointer;
    object-fit: contain;
    }



//     //TODO Main page scroll entfernen wenn menü angezeigt wird


.slide-out {
  position: fixed;
  margin-top:75px;
  top: 0;
  right: 0;
  background-color: g.$grey;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 0.6s ease-out;
  
  @media(min-width: 600px) {
    display: none;
  }
  
  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(100%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-out.open li {
  opacity:0;
    animation: slide-in-right 0.7s ease-out forwards;
  

  &:nth-child(1) {
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.4s;
  }
  &:nth-child(5) {
    animation-delay: 0.5s;
  }
}





