<section>
    <div class="profile-container">
       <img class="background-shine" src="assets/img/background/back2elements.svg">
       <img class="vector-mobile" src="assets/img/background/vector-mobile.svg">
       <img class="vector" src="assets/img/background/vector.svg">        
       <img class="main-profile-picture-mobile" src="assets/img/personal/mainPic.png" >
    </div>
<div class="main-container">
     <img class="main-profile-picture-desktop" src="assets/img/personal/mainPic.png" >

     <div class="intro">
        <h4 class="rotate" [ngClass]="{'german-h4': shouldAddGermanClass}" translate>I am</h4>
        <h1 translate>Carmen Birkle</h1>
        <h3 translate [ngClass]="{'german-h3': shouldAddGermanClass}">Frontend Developer</h3>
        <button translate>Lets Talk</button>
    </div>
</div>
    


    <div class="line"></div>
    <div class="get-in-contact">
        <a class="icon" href="https://github.com/CarmenBirkle">
            <img src="assets/img/icons/github.svg" alt="GitHub" title="GitHub" target="_blank" rel="noopener noreferrer">
        </a>
        <a class="icon" href="mailto: birkle@carmenbirkle.de">
            <img src="assets/img/icons/mail.svg" alt="E-Mail" title="Send E-Mail" srcset="">
        </a>
        <a class="icon" href="https://www.linkedin.com/in/carmenbirkle/">
            <img src="assets/img/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn" target="_blank" rel="noopener noreferrer">
        </a>
        <a class="email" href="mailto: birkle@carmenbirkle.de" title="Send E-Mail" >birkle@carmenbirkle.de</a>
    </div>

    
</section>
