<section>
    <div class="profile-container">
       <img class="vector-mobile" src="assets/img/background/vector-mobile.svg">
       <!-- <img class="vector-mobile" src="assets/img/background/back2elements.svg"> -->
       <img class="main-profile-picture" src="assets/img/personal/mainPic.png" >
    </div>

    
    <div class="intro">
         <h4 class="rotate">I am</h4>
       
        <h1>Carmen Birkle</h1>
        <h3>Frontend Developer</h3>
    
       
        
    </div>


    <!-- <img class="vector" src="assets/img/background/vector.svg">
    <img class="vector-mobile" src="assets/img/background/vector-mobile.svg">

    <div class="main-container">
        <h1>Carmen Birkle</h1>
        <h3>Frontend Developer</h3>

    

        
        
      
        <div class="presentation-container">
        <h4 class="rotate">I am</h4>
        <div>
            <h1>Carmen Birkle</h1>
            <h3>Frontend Developer</h3>
              <button>Let's talk</button>
        </div>
    </div>

    </div>

    <div class="get-in-Contact">
        <div class="contact">
        <div class="line"></div>
        <a class="icon" href="https://github.com/CarmenBirkle">
            <img src="assets/img/icons/github.svg" alt="GitHub" title="GitHub"target="_blank">
        </a>
        <a class="icon" href="mailto: birkle@carmenbirkle.de">
            <img src="assets/img/icons/mail.svg" alt="E-Mail" title="Send E-Mail"srcset="">
        </a>
        <a class="icon" href="https://www.linkedin.com/in/carmenbirkle/">
            <img src="assets/img/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn" target="_blank">
        </a>
        <a class="mail" href="mailto: birkle@carmenbirkle.de" title="Send E-Mail" >birkle@carmenbirkle.de</a>
        </div>
    </div>

        <div class="background"></div>
   -->
    
</section>
