@use 'src/styles' as g;

section{
    height: 100%;
    padding-top:80px; 
}


      @media (min-width: 951px) {
        .main-container{
                display: flex;
                justify-content: space-between;
                padding: 0 10% 0 10%;
                align-items: center;
        }
    }



.profile-container{
    position:relative
}

.background-shine{
    position:absolute;
    width:100%;
    left: 0;
    top: 0;
      @media (min-width: 950px) {
        width:unset;
    }
}

.vector-mobile{
    position: absolute;
    z-index: 2;
    top: clamp(234px, 104.111111px + 26.777778vw, 950px);
    width: 100%;
    left:0;
    @media (min-width: 951px) {
        display: none;
    }
}

.main-profile-picture-mobile {
    position:relative;
    z-index: 1;
    margin-top: clamp(0rem, 1.9791666666666665rem + -3.3333333333333335vw, 1.3125rem);
    width: clamp(224px, 125.4603174603px + 30.7936507937vw, 418px);
    @media (min-width: 951px) {
        display: none;
}
}

.main-profile-picture-desktop {
    position:relative;
    z-index: 1;
    margin-top: clamp(1.4375rem, 13.190247252747252rem + -10.10989010989011vw, 7.1875rem);
    width: clamp(24rem, 15.517857142857144rem + 14.285714285714285vw, 32.125rem);
    @media (max-width: 950px) {
        display: none;
    }
}


.intro{
    display: flex;
    position:relative;
    flex-direction: column;
    align-items: center;
    padding-left:1.6 rem; // aktuell für kleinste Ansicht (mobile) 320 px
    z-index: 3;
    margin-top: clamp(0rem, 2.8288950715421306rem + -4.769475357710652vw, 1.875rem);

    h1, h3, h4{
        z-index:15;
    }

    h1{
       padding-top: 1.25rem;
       padding-left:40px;
       @media (min-width: 951px) {
            padding-left:unset;
            margin-left: clamp(1.25rem, -0.05494505494505475rem + 2.1978021978021975vw, 2.5rem);
        }
        @media (min-width: 951px) and (max-width: 965px)  {
            padding-left:unset;
            font-size: 2.5rem;
            font-size: clamp(2.5rem, -29.166666666666668rem + 53.333333333333336vw, 3rem);
        }


    }

    h3{
        padding-left:40px;
        @media (min-width: 951px) {
            padding-left:unset;
            margin-left: clamp(1.25rem, -0.05494505494505475rem + 2.1978021978021975vw, 2.5rem);
        }
         @media (min-width: 951px) and (max-width: 965px)  {
            padding-left:unset;
            font-size: 2rem;
        }
    }
}

.rotate {
    transform: rotate(-90deg);
    transform-origin: left;
    position: absolute;
    top: clamp(3.625rem, 2.4167329093799683rem + 6.041335453100159vw, 6rem);
    left: clamp(3.3125rem, -2.410870429252782rem + 28.61685214626391vw, 14.5625rem);
    @media (min-width: 951px) {
            top: clamp(5.8125rem, 3.5940934065934065rem + 3.7362637362637363vw, 7.9375rem);
            left:0;
        }
}

.german-h3{
    @media (min-width: 950px) {
       font-size: 1.9375rem;
       font-size: clamp(1.9375rem, 0.17582417582417587rem + 2.9670329670329667vw, 3.625rem);
    }  
}

.german-h4{
    font-size: 1rem;
    font-size: clamp(1rem, 0.5548489666136724rem + 2.2257551669316378vw, 1.875rem);
    margin-top: clamp(0rem, 0.4714825119236884rem + -0.7949125596184421vw, 0.3125rem);

    @media (min-width: 950px) {
       font-size: 1.75rem;
        font-size: clamp(1.75rem, 1.0975274725274726rem + 1.0989010989010988vw, 2.375rem);
    }
}

.get-in-contact{
    position:absolute; 
    bottom:1rem;
    padding: 0 10% 0 10%;
    display:flex;
    gap:42px;
    align-items: center;
    z-index:2;
    @media (min-width: 950px) {
            bottom: 2rem;
         }    
}

.icon{
    img{
        width:30px;
        &:hover{
        transform: scale(1.33) !important;   
        }
    }
}

 .email {
    display: none;
    @media (min-width: 950px) {
            display:unset;
         }    
     &:hover{
       color:g.$blue;
    } 
}
    
.line{
 
    width: clamp(1.5625rem, 0.6101190476190477rem + 4.761904761904762vw, 3.4375rem);
    border: 3px solid g.$dark-blue;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom:2rem;
    z-index: 2;
       @media (min-width: 950px) {
            bottom: 3rem;
            width: clamp(3.4375rem, -2.4347527472527473rem + 9.89010989010989vw, 9.0625rem);
         } 
}




.vector{
    position: absolute;
    width: calc(100vw - 10px);
    top: clamp(0.5rem, 33.71428571428571rem + -28.57142857142857vw, 16.75rem);
    left:0;
    z-index:2;
    @media (max-width: 950px) {
        display: none;
    }
}

.scroll-down {
    transform: rotate(90deg) translateY(-228%);
    color: white;
    font-size: 23px;
    text-decoration: none;
    position:absolute;
    bottom:5.7rem;
    right: 10%;
    z-index: 21;
    display:flex;
    gap:1.063rem;
    @media (max-width: 950px) {
        display: none;
    }
}

.scroll-down-arrow {
    transform: rotate(90deg);
    animation: scroll-down-animation 2s infinite;
}

@keyframes scroll-down-animation {

    0%,
    100% {
        transform: rotate(90deg) translateY(0);
    }

    50% {
        transform: rotate(90deg) translateY(10px);
    }
}

.background-purple {
    position: absolute;
    right: 0;
    top:72%;
    background-image: url('^assets/img/background/purple-shadow.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    width: clamp(200px, 173.68421052631578px + 8.223684210526317vw, 300px);
    height: 648px;
}


