@use 'src/styles' as g;

section{
    padding: 0 10% 0 10%;
    padding-top: 6.813rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    position: relative;
}

.title {
  position: relative;
  text-align: center;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  background-color: g.$dark-blue;
}

.title::before {
   right: 110%; 
   width: 69%
}


.btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

button{
    margin-top: unset;
        @media (min-width: 320px) and (max-width: 550px) {
        padding-left: clamp(0.9375rem, -0.36684782608695654rem + 6.521739130434782vw, 1.875rem);
        padding-right: clamp(0.9375rem, -0.36684782608695654rem + 6.521739130434782vw, 1.875rem);
        }
        @media (max-width: 320px)  {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        margin-bottom:5.625rem
        }
}

button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.subtitle{
    font-weight: 700;
    font-size: 1.3125rem;
    font-size: clamp(1.3125rem, 0.9632936507936508rem + 1.746031746031746vw, 2rem);
    padding: 0 0 25px 0;
}

.scroll {
  position: absolute;
  right: 10%;
  bottom: 50px;
  border-radius: 50%;
  border: solid 2px white;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  z-index:20;

}

.scroll:hover {
  border: solid 2px g.$blue;
}

.scroll-path {
  fill: white;
  transition: fill 0.3s ease; 
}

.scroll:hover .scroll-path {
  fill: g.$blue; 
}

.background-blue {
    position: absolute;
    left: 0;
    bottom:0;
    background-image: url('^assets/img/background/bg-blue-contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: clamp(18.75rem, 15.575396825396826rem + 15.873015873015872vw, 25rem);
    height: clamp(12.5rem, 9.325396825396826rem + 15.873015873015872vw, 18.75rem);
}


.background-top{
    position: absolute;
    right: 0;
    bottom: clamp(64%, 3vw, 50%);
    z-index: 15;
    width:clamp(20.25rem, 17.83730158730159rem + 12.063492063492063vw, 25rem);
    height: clamp(91.625rem, 90.54563492063492rem + 5.396825396825397vw, 93.75rem);
    background-image: url('^assets/img/background/bg-sec-portfolio.png');
    background-repeat: no-repeat;
    background-size: cover;
  
}

form{
    z-index:10;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:15px;
    margin-top:45px;
}

input {
        width: 100%;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        height: 50px;
        padding: 15px 25px;
        background: #141D2F;
        color: white;
        padding-right: 50px;
        caret-color: white;
      }


textarea {
          width: 100%;
          width: 100%;
          border: 1px solid #4B47FF;
          border-radius: 10px;
          height: 50px;
          padding: 15px 25px;
          padding-right: 50px;
          background: #141D2F;
          height: 202px;
          color: white;
          resize: none;
        }

input:hover,
textarea:hover {
        border-color: #00BEE8;
        }

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
    border-color: red;
}

input.ng-valid,
textarea.ng-valid {
    border-color: green;
}

input:focus::placeholder,
textarea:focus::placeholder {
        color: transparent;
}

input:focus.ng-invalid,
textarea:focus.ng-invalid {
            background: #141D2F;
            color: white;
            border: 1px solid green;
            outline: none;
        }

input:focus.ng-invalid,
textarea:focus.ng-invalid {
            background: #141D2F;
            color: white;
            border: 1px solid #E61C40;
            outline: none;
        }

input:focus.ng-valid,
textarea:focus.ng-valid {
            background: #141D2F;
            color: white;
            border: 1px solid green;
            outline: none;
        }

.error{
    color: red;
    font-size: 12px;
}

.error-container{
    height: 13px;;
}

// loader

.hide{
  display:none
}
@mixin position-center($text-align: center) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: $text-align;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:g.$grey;
  z-index: 9999;
}

.success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: g.$grey;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center; 
}



.loading-text {
  @include position-center;
  width: 100%;
  height: 100px;
  line-height: 100px;
  span {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    @for $i from 0 through 6 {
      &:nth-child(#{$i + 1}) {
        filter: blur(0px);
        animation: blur-text 1.5s (#{$i/5})+s infinite linear alternate;
      }
    }
  }
}

@keyframes blur-text {
  0% {filter: blur(0px);}
  100% {filter: blur(4px);}
}

.success-text{
    padding: 15px 30px;
    background-color: g.$blue;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10px;
    border: none;
    font-size: clamp(1.125rem, 1.0427631579rem + 0.4111842105vw, 1.4375rem);
    line-height: 120%;
    color: white;
    cursor: pointer;
    text-decoration: none;
   
    }

  .success-text-words {
  display: block;
  margin: 0;
}
  .error-text-words{
      display: block;
      margin: 0;
      color:red
  }

  @keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.success-text {
  animation: slideInFromBottom 0.5s ease-out;
}
