<section >
   <div id="skills" class="skills-container">
      <div class="line-container">
          <h2 class="title" translate>My Skills</h2>
          <div class="line"></div>
      </div>
      
      <p translate>skills</p>
      <button class="button-desktop" onclick="location.href='#contact'" translate>Get in touch</button>
   </div>
   
  
   <div class="icons">
      <img src="./../../assets/img/icons/angular.webp" alt="Angular">
      <img src="./../../assets/img/icons/typescript.webp" alt="Type Script">
      <img src="./../../assets/img/icons/javascript.webp" alt="Java Script">
      <img src="./../../assets/img/icons/html.webp" alt="HTML">
      <img src="./../../assets/img/icons/firebase.webp" alt="Firebase">
      <img src="./../../assets/img/icons/git.webp" alt="GIT">
      <img src="./../../assets/img/icons/css.webp" alt="CSS">
      <img src="./../../assets/img/icons/api.webp" alt="Rest-Api">
      <img src="./../../assets/img/icons/scrum.webp" alt="Scrum">
      <img src="./../../assets/img/icons/material.webp" alt="Material Design">
   </div>
<div class="mobile-button-container">
 <button onclick="location.href='#contact'" translate>Get in touch</button>
</div>
    <div class="background-sec3"></div>
  
</section>
