@use 'src/styles' as g;

section{
    padding: 0 10% 0 10%;
    display:flex;
    flex-direction: column;
    direction: relative;
    overflow:hidden;
    @media (min-width: 950px) {
        display: flex;
        flex-direction: row-reverse;
        gap:60px;
     }




}

h2{
    margin-top: clamp(6.25rem, 3.009006550218341rem + 5.458515283842794vw, 9.375rem);
    margin-bottom:clamp(2.1875rem, 1.2152019650655022rem + 1.6375545851528384vw, 3.125rem);
    @media (min-width: 950px) {
        padding-top:200px;
    }   

}

img{
        width: clamp(70px, 60.8571428571px + 2.8571428571vw, 88px);
        // transition: all 125ms ease-in-out;
        //other transition used - deactivete code is option from figma

      &:hover{
        // transform: translateY(-10px);
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px; 
        }
    }

.title {
  position: relative;
  text-align: center;
}

.title::after {
    display:none;
    content: "";
    top: 50%;
    background-color: g.$dark-blue;
    right: 110%; 
    width: 70%;
    height: 4px;
    background-color: g.$dark-blue;
    position: absolute;
    left: 101%;
    top: 83%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @media (min-width: 950px) {
        display:unset;
    }
}



@keyframes shake {
        10%, 90% {
            transform: translate3d(-1px, 0, 0);
        }
        
        20%, 80% {
            transform: translate3d(2px, 0, 0);
        }

        30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%, 60% {
            transform: translate3d(4px, 0, 0);
        }
}

    

.skills-container{
    margin-bottom: 3.938rem;
    text-align: end;
    
    @media (min-width: 950px) {
        flex: 1;
        width:40%
    }
}

.button-desktop{
    display: none;
    @media (min-width: 950px) {
        display:unset;
    }

}

.mobile-button-container{
    display: flex;
    justify-content: end;
    margin-bottom:0.7rem;
     @media (max-width: 458px) {
        margin-top:82px;
     }
     @media (min-width: 950px) {
        display:none;
    }
}


.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(70px, 60.8571428571px + 2.8571428571vw, 88px), 1fr));
    gap: calc((100% - (4 * clamp(70px, 60.8571428571px + 2.8571428571vw, 88px))) / 3);
    row-gap: 50px;
    justify-items: start;
    justify-content: start;
    z-index:49;
    margin-bottom:0.7rem;
     @media (max-width: 450px) {
        grid-template-columns: repeat(auto-fill, minmax(clamp(70px, 60.8571428571px + 2.8571428571vw, 88px), 1fr));
        gap: calc((100% - (3 * clamp(70px, 60.8571428571px + 2.8571428571vw, 88px))) / 2);
     } 
         @media (min-width: 950px) {
            row-gap: 50px;
            width:60%;
            margin-top:150px;
    }   
}
.line-container{
    position: relative;
}

.line {
  width: 15%;
  height: 4px;
  background-color: g.$dark-blue;
  position: absolute;
  left: 110%;
  transform: translateX(-50%);
  top: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @media (min-width: 950px) {
        display:none;
    }
}

.background-sec3{
    position: absolute;
    left: 0;
    bottom:0;
    background-image: url('^assets/img/background/sec3blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
    width: clamp(200px, 173.68421052631578px + 8.223684210526317vw, 300px);
    height: 700px;

}




