@use 'src/styles' as g;

section{
    overflow: hidden;

    padding-top: 6.813rem; //252px lt. desktop figma
}

.title {
  position: relative;
  text-align: center;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 50%;
 
  height: 3px;
  background-color: g.$dark-blue;
}

.title::before {
  left: 12%; // ev. bis 27% nochmals testen
  margin-right: 30px; /* Abstand zwischen dem Strich und dem Text */
   width: 10%;
}

.title::after {
//   left: 0;
  margin-left: 30px; /* Abstand zwischen dem Strich und dem Text */
   width: 40%;
}
.subtitle{
     padding: 0 10% 10% 10%;
}

