@use 'src/styles' as g;

section{
    overflow: hidden;
    position: relative;
    padding-top: 6.813rem; //252px lt. desktop figma
}

.title {
  position: relative;
  text-align: center;
}

.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 50%;
 
  height: 3px;
  background-color: g.$dark-blue;
}

.title::before {
  left: 12%; // ev. bis 27% nochmals testen
  margin-right: 30px; /* Abstand zwischen dem Strich und dem Text */
   width: 10%;
}

.title::after {
  margin-left: 30px; /* Abstand zwischen dem Strich und dem Text */
  width: 40%;
}
.subtitle{
     padding: 0 10% 0 10%;
}

.background-blue{
    position: absolute;
    left: -5px;
    top:35%;
    background-image: url('^assets/img/background/bg-blue-portfolio.png');
    background-repeat: no-repeat;
    background-size: cover;
   
    height:clamp(27.3125rem, 20.963293650793652rem + 31.746031746031743vw, 39.8125rem);
     width: clamp(20.9375rem, 14.588293650793652rem + 31.746031746031743vw, 33.4375rem);
     
   
}

app-project{
  position: relative;
  z-index: 5;
}

