$font-white: white;
$primary-color: #007bff;
$secondary-color: #6c757d;
$background:#141D2F;
$dark-blue:#4B47FF;
$blue: #00BEE8;
$green:#1CE6B6; // ev. wieder löschen
$grey: rgba(20, 29, 47, 0.8);


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    background-color: $background;
    color: white;
    height:100%;
    width: 100%;
    scroll-behavior: smooth;
    text-align: center; // TODO ggf. raus, schauen wie das wirkt
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
}
section {
    min-height: 100%;
    width:100%;
    // margin-top: 160px // ggf. auch 200 ?
    padding-top: 200px; // ev. besser? 
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-weight: 700;
    font-size: 2.8125rem;
    font-size: clamp(2.8125rem, 2.0089285714285716rem + 4.017857142857142vw, 5.625rem);
}

h2{
    font-weight: 700;
    font-size: 2.8125rem;
    font-size: clamp(2.8125rem, 2.0089285714285716rem + 4.017857142857142vw, 5.625rem);
}

h3{
    font-size: clamp(1.8125rem, 1.2946rem + 2.5893vw, 3.625rem);
    color: $dark-blue;
}

h4{
    font-size: clamp(2rem, 1.4286rem + 2.8571vw, 4rem);
}
h5{
    font-size:23px;
}
h6{
    font-size: 32px;
    color:$dark-blue
}

body.no-scroll {
  overflow: hidden;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('assets/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    //    url('assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}


/* poppins-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('assets/fonts/poppins-v20-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
       url('assets/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
    //    url('assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}